<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hybridConnections" type="Microsoft.HybridConnectionManager.Commands.HybridConnectionsConfigurationSection, Microsoft.HybridConnectionManager.Commands" />
  </configSections>
  <hybridConnections>
    <connectionStrings>
      <hybridConnection connectionString="CONNECTION_STRING" />
    </connectionStrings>
  </hybridConnections>
  <startup>
    <requiredRuntime version="v4.0"  />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
 </configuration>
